/* This file is for your main application css. */
/*
Attribution: bootstrap docs


*/
@import "bootstrap";
.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.card-image{
    width: 40%;
    height: 10vw;
    
}


.text {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
	font-weight: 900;
	font-style: italic;
	margin-top: 50px;
	color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
